*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.demo {
    padding: 5px 20px;
    background: black;
    width: 100%;
    /* line-height: 60px; */
    justify-content: space-between;
    align-items: center;
    display: flex;
    
}
.demo ul{
    line-height: 60px;
    display: flex;
    
}
.demo ul li{
    list-style: none;
    margin: 0px 20px;
    font-size: 20px;
    color: black;
}

.demo ul li .user{
    color: white;
}

.demo ul li button{
    background: transparent;
    color: white;
}

.nav-link{
    text-decoration: none ;
    color: white;
    letter-spacing: 3px;
    font-size: 20px;

}
.nav-link:hover{
    color: aquamarine;
    transition: all 0.5s linear;
    text-decoration: underline;
}
.nav2{
    background: transparent;
    padding: 20px 20px;


}
.nav2 .nav1{
    color: red;
    margin: 0px 10px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.form{
    background: transparent;
    text-align: center;

}
.form h1{
    margin: 20px;
    letter-spacing: 3px;
    text-shadow: 3px 3px 5px blue;
}
.form input{
    width: 300px;
    padding: 5px 20px;
    line-height: 30px;
    margin: 10px 0px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    text-transform: capitalize;
}
.form button{
    width: 150px;
    margin: 20px;
    line-height: 30px;
    font-size: 20px;
}
